In [8]:
import pandas as pd
import numpy as np
from datetime import date, timedelta

In [170]:
class investor:
    def __init__(self, no, capital, entryD, asset):
        self.no = no
        self.capital = capital
        self.initial = capital
        self.entryD = entryD
        self.asset = asset
    
    def work(self, df, shareno):
        delta = timedelta(days=1)
        entry = False
        currentShares = 0
        for date in df["Date"]:
            if (date >= self.entryD):
                temp = df[df.Date == date]
                if (temp["TradingPoints"].values == "0"):
                    self.capital = self.capital - temp.Close.values*shareno
                    currentShares = currentShares + shareno
                    print("Now buying" + str(shareno) + "Shares")
                if (temp["TradingPoints"].values == "4"):
                    self.capital = self.capital + temp.Close.values*currentShares*0.5
                    currentShares = currentShares * 0.5
                    print("Now selling" + str(currentShares) + "Shares")
                if (temp["TradingPoints"].values == "5"):
                    self.capital = self.capital + temp.Close.values*currentShares
                    currentShares = 0 
                    print("Now sold all Shares")
        print((self.capital-self.initial))

In [5]:
#| temp["TradingPoints"] == "2" | temp["TradingPoints"] == "1" | temp["TradingPoints"] == "3"

2

In [206]:
mco = pd.read_csv("Data/MCO.csv", index_col = "Date", parse_dates = True)
nee = pd.read_csv("Data/NEE.csv", index_col = "Date", parse_dates = True)
rf = pd.read_csv("Data/RF.csv", index_col = "Date", parse_dates = True)
tfc = pd.read_csv("Data/TFC.csv", index_col = "Date", parse_dates = True)
txn = pd.read_csv("Data/TXN.csv", index_col = "Date", parse_dates = True)

In [207]:
mco.reset_index(inplace = True)
mco.drop(columns = ["Unnamed: 0"], inplace = True)
mco["UnderlyingSymbol"] = "MCO"

nee.reset_index(inplace = True)
nee.drop(columns = ["Unnamed: 0"], inplace = True)
nee["UnderlyingSymbol"] = "NEE"

rf.reset_index(inplace = True)
rf.drop(columns = ["Unnamed: 0"], inplace = True)
rf["UnderlyingSymbol"] = "RF"

tfc.reset_index(inplace = True)
tfc.drop(columns = ["Unnamed: 0"], inplace = True)
tfc["UnderlyingSymbol"] = "TFC"

txn.reset_index(inplace = True)
txn.drop(columns = ["Unnamed: 0"], inplace = True)
txn["UnderlyingSymbol"] = "TXN"

In [209]:
lists = [mco, nee, rf, tfc, txn]
symbols = pd.concat(lists)

In [185]:
mco = mco[(mco["Date"] >= np.datetime64("2018-02-01", "ns")) & (mco["Date"] <= np.datetime64('2018-05-20', "ns"))]

In [186]:
mco

,Date,Open,High,Low,Close,ADXTR1,ADXPDM1,ADXMDM1,ADXPDI,ADXMDI,...,VS,VSCP,RSI,PPO,TradingPoints,ADXCP,ADX,ADXcrossinglevel,DILevel,PercentProfitOrLoss
1083,2018-02-01,161.67,164.10,160.82,163.57,3.28,1.33,0.00,31.251421,12.412668,...,158.784087,default value,65.582119,0.092370,default value,default value,default value,default value,default value,default value
1084,2018-02-02,162.08,162.84,158.24,158.61,5.33,0.00,2.58,27.024212,17.281189,...,158.584931,default value,52.211645,-0.148525,default value,default value,default value,default value,default value,default value
1085,2018-02-05,157.87,158.71,151.08,151.31,7.63,0.00,7.16,22.361248,30.491249,...,157.535656,1,39.460486,-0.601373,default value,default value,default value,default value,24.482315978107817,default value
1086,2018-02-06,150.87,157.97,147.34,157.94,10.63,0.00,3.74,17.762778,31.456173,...,162.889438,default value,51.133193,-0.604969,default value,default value,default value,default value,default value,default value
1087,2018-02-07,157.02,161.25,156.43,157.98,4.82,3.28,0.00,22.351730,28.585634,...,165.790947,default value,51.194334,-0.589025,default value,default value,default value,default value,default value,default value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,2018-05-14,174.60,174.80,171.04,172.00,3.76,0.00,1.82,25.869692,18.447185,...,164.755955,default value,63.334274,0.640796,5,default value,default value,0.0,default value,-0.16
1154,2018-05-15,171.21,171.61,169.85,170.89,2.15,0.00,1.19,24.625257,20.222300,...,164.472248,default value,60.243592,0.514490,default value,default value,default value,default value,default value,default value
1155,2018-05-16,171.17,173.07,170.73,172.24,2.34,1.46,0.00,26.641044,19.142975,...,164.919069,default value,62.632012,0.450952,default value,default value,default value,default value,default value,default value
1156,2018-05-17,172.15,172.66,170.57,171.54,2.09,0.00,0.16,25.340139,18.582032,...,165.220631,default value,60.599100,0.351610,default value,default value,default value,default value,default value,default value
1157,2018-05-18,171.30,172.87,171.07,172.52,1.80,0.21,0.00,24.747694,17.776910,...,165.586255,default value,62.437296,0.297596,default value,default value,default value,default value,default value,default value

In [191]:
tester = investor(1, 10000, pd.to_datetime(np.datetime64("2018-05-17")), "mco")

In [192]:
tester.work(mco, 2)

0

In [ ]:
Pseudocode Optionsstrategie-Algo

for each day in DataDate do:
    if buysignal for underlying exists:
        buy call option with lowest available strike price and save the option and the expiraton date
        sell call option with highest available strike price and save the option and the expiration date
    if currentDay is in list of expiration dates:
        Realize value from expiring options

In [25]:
optex = pd.read_csv("Data/optex.csv")

In [26]:
optex.head()

,UnderlyingSymbol,UnderlyingPrice,Exchange,OptionRoot,OptionExt,Type,Expiration,DataDate,Strike,Last,Bid,Ask,Volume,OpenInterest,T1OpenInterest
0,A,62.78,*,A180615C00050000,NaN,call,06/15/2018,06/01/2018,50.0,12.00,12.80,12.95,0,5,5
1,A,62.78,*,A180615P00050000,NaN,put,06/15/2018,06/01/2018,50.0,0.01,0.00,0.03,0,1,1
2,A,62.78,*,A180615C00055000,NaN,call,06/15/2018,06/01/2018,55.0,0.00,7.70,9.45,0,0,0
3,A,62.78,*,A180615P00055000,NaN,put,06/15/2018,06/01/2018,55.0,0.09,0.02,0.09,0,126,126
4,A,62.78,*,A180615C00057500,NaN,call,06/15/2018,06/01/2018,57.5,5.15,5.20,5.60,0,19,19

In [27]:
optex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898316 entries, 0 to 898315
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   UnderlyingSymbol  898316 non-null  object
 1   UnderlyingPrice   898316 non-null  float64
 2   Exchange          898316 non-null  object
 3   OptionRoot        898316 non-null  object
 4   OptionExt         0 non-null       float64
 5   Type              898316 non-null  object
 6   Expiration        898316 non-null  object
 7   DataDate          898316 non-null  object
 8   Strike            898316 non-null  float64
 9   Last              898316 non-null  float64
 10  Bid               898316 non-null  float64
 11  Ask               898316 non-null  float64
 12  Volume            898316 non-null  int64
 13  OpenInterest      898316 non-null  int64
 14  T1OpenInterest    898316 non-null  int64
dtypes: float64(6), int64(3), object(6)
memory usage: 102.8+ MB

In [28]:
optex["UnderlyingSymbol"].unique()

array(['A', 'AA', 'AABA', ..., 'ZUO', 'ZX', 'ZYNE'], dtype=object)

In [35]:
optexScoped = optex[(optex["UnderlyingSymbol"] == "MCO") & (optex["Type"] == "call")]

In [1]:
optexScoped

NameError: name 'optexScoped' is not defined